# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
*.log

# gradle
build
.gradle

# other
eclipse
run
run-data

ConfluenceOfTheAfterlife/src/generated
otherworldly


TerraEntity/run
MineTeam/run
EquipmentBenediction/run
TerraCurio/run
ParticleStorm/run
HeavenDestinyMoment/run
PhaseJourney/run
TerraMoment/run
ExtraWorldInvaded/run

TerraEntity/build
MineTeam/build
EquipmentBenediction/build
TerraCurio/build
ParticleStorm/build
HeavenDestinyMoment/build
PhaseJourney/build
TerraMoment/build
ExtraWorldInvaded/build
