[submodule "TerraCurio"]
	path = TerraCurio
	url = https://github.com/westernat/TerraCurio
	branch = neoforge-dev/1.21
[submodule "MineTeam"]
    path = MineTeam
    url = https://github.com/XiaoHuNao/MineTeam
    branch = neoforge-dev/1.21
[submodule "EquipmentBenediction"]
    path = EquipmentBenediction
    url = https://github.com/XiaoHuNao/EquipmentBenediction
    branch = neoforge-dev/1.21
[submodule "ParticleStorm"]
	path = ParticleStorm
	url = https://github.com/westernat/ParticleStorm
	branch = neoforge-dev/1.21
[submodule "HeavenDestinyMoment"]
	path = HeavenDestinyMoment
	url = https://github.com/XiaoHuNao/HeavenDestinyMoment
	branch = neoforge-dev/1.21
[submodule "PhaseJourney"]
	path = PhaseJourney
	url = https://github.com/XiaoHuNao/PhaseJourney
	branch = neoforge-dev/1.21
[submodule "TerraMoment"]
	path = TerraMoment
	url = https://github.com/XiaoHuNao/TerraMoment
	branch = neoforge-dev/1.21
